// VARIABLES
$principal1: rgb(35, 165, 154);
$principal2: rgb(137, 247, 238);
$principal3: rgba(233, 240, 239, 0.932);
$principal4: rgb(67, 220, 207);
$principal5: rgba(86, 89, 89, 0.932);
$img-hover: rgba(137, 227, 210, 0.9);


$theme-colors: (
  "primary":    $principal4,
  "secondary":  $principal3,
  "success":    $img-hover,
  "info":       yellow,
  "warning":    grey,
  "danger":     $principal5,
  "light":      $principal3,

);





@import "../node_modules/bootstrap/scss/bootstrap";

body {
  width: 100%;
  overflow-x: hidden;
}

@media screen and (max-width: 576px){
  html,body{
    width: 100%;
    overflow-x: hidden;
  }
}

.img-pregunta {
  width: 300px;
  height: auto;
}

.img-fluid-2 {
    width: 100%;
    height: auto;
}

.btn-color-letra:hover{
    color: $principal5;
}

